<!DOCTYPE html>
<html>
<head>
<title>Jabbapoint</title>
<!--<link rel="shortcut icon" href="./web/pics/favicon.svg" type="image/svg+xml" />-->
<!--<link rel="stylesheet" href="./style.css" type="text/css" media="screen" /> -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body{	max-width:800px; margin: auto; background-color: #893531; color:beige;}
a{	text-decoration:none; color:beige}
ul li a:hover{color: gray}
nav ul li{	display: inline-block; text-decoration: underline; margin: 10px; }
input{	margin: 0px; 
	padding: 0px 0px 0px 2px;
	border-radius:0px;
	border: solid;
	border-width: 0px 0px 1px 0px; 
	border-color:beige;
	text-decoration: none;
	background:transparent;
	outline: none;
	color:beige
}
img{ 	border: 2px solid beige;
	border-radius: 2px;
	margin: 5px;
}
abbr{	text-decoration: none; }
h2, h3{	text-align: center; text-decoration: underline;	}
h3{ margin: 10px; }
p{ 	margin: 10px; }
footer{	margin-top: 2em;
	text-align: center;
	color: beige;
	border: solid;
	border-color: beige;
	border-width: 2px 0px 0px 0px;
}
.vmsImg{ height: 90px; border: 0px; }
.date{
	color: lightblue;
	font-size: small;
	padding-right: 20px;
	float: right;
}
</style>
</head>
<body style="background-color:#{{.Bg}}">
	<div class="status-bar">

		<p style="display:inline-block; margin-top: 5px">{{.WeatherInfo}}</p>
		<form action="/" method="GET" class="form" id="location_form"
			style="display:inline-block; margin-left: 5px; margin-bottom: 0px">
			<input type="submit" id="save_btn" style="position: absolute;
		     left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
			<select name="lang" id="select_lang">
				{{range $i, $element := .LocaleList}}
				<option value="{{$element.Code}}" {{$element.Selected}}>{{$element.Flag}}</option>
				{{end}}

			</select>
			<span><a href="https://mapy.cz/" target="_blank">🏠</a></span>
			<input type="text" name="location" id="location_input" value="{{.Location}}" 
				autocomplete=off >
			<span><a href="https://www.color-hex.com/" target="_blank">🎨</a></span>
			<input type="text" name="bg" id="background" value="{{.Bg}}" 
				autocomplete=off style="width:60px" >
			<span id="relevant"></span>
		</form>	
		<p style="margin-top: 5px; display:inline-block">
		<a target="_blank" href="https://www.whois.com/whois/{{.Ipv4address}}">🌐 <span id="ipv4_address">{{.Ipv4address}}</span></a>
		</p>
	{{template "TimeLocal"}}
	<span id="zone-date" style="display: inline-block"></span>
	</div>
	<hr style="color: beige">

	<nav>
		<ul>
			<li><a href="https://github.com" target="_blank">github.com</a></li>
			<li><a href="https://mnhradiste.cz" target="_blank">mnhradiste.cz</a></li>
			<li><a href="https://bazos.cz" target="_blank">bazos.cz</a></li>
			<li><a href="https://discord.com/app" target="_blank">discord.com</a></li>
			<li><a href="https://www.mnhradiste.cz/meteo" target="_blank">meteo</a></li>

		</ul>
	</nav>

	<main  style="margin-top: 20px;">
		<a href='https://kalendar.beda.cz/' target="_blank"><img src='./web/pics/kalendar-m.png' loading=lazy alt="kalendář"></a>
		<div class="cs-CZ" style="display: inline-block">
			<p style="max-width: 550px;"><abbr title="Pranostika pro dnešní den.">🗣️{{.Pranostika}}</abbr></p>
			<p style="max-width: 550px;"><abbr title="📆{{.NameTmrw}}"><a href="./web/svatek.html">📆{{.NameToday}}</a></abbr></p>
			<p style="display:inline-block"><a id="curr" href="./web/cnb-rates.html">💵{{.Currency}}</a></p>
			<p><a id="cryptocurr" href="https://rate.sx/" target="_blank">🪙1<b style="color: gold;">BTC</b> {{.BtcValue}}$ 1<b style="color:#999;">XMR</b> {{.XmrValue}}$</a></p>
		</div>
		<div id="text_forecast">
			<a href="{{.WttrLink}}" target="_blank">
				<p id="tomorrow_forecast" style="display: inline-block"><span id="first_date"></span> {{.ForecastFirst}}</p>
				<p id="next_forecast" style="display: inline-block"><span id="second_date"></span> {{.ForecastSecond}}</p>
			</a>
		</div>
		<div>
			<a href='https://www.chmi.cz/files/portal/docs/meteo/sat/data_jsmsgview.html' target="_blank">
				<img src='https://www.chmi.cz/files/portal/docs/meteo/sat/mobile/msg2a6.gif' loading=lazy width=150 height=130>
			</a>
			<a href='https://www.in-pocasi.cz/data/teplotni_mapy_cz_actual/t1600.png?1611068400' target="_blank">
				<img src='https://www.in-pocasi.cz/data/teplotni_mapy_cz_actual/t1600.png?1611068400' style="border: 0px;" loading=lazy width=360 height=227>
			</a>
		</div>
		<!-- rain -->
		<!--<a href='./web/pics/rain.gif' id="link_sat24"><image src='./web/pics/rain.webp' width=360 height=227 loading=lazy></a>-->
		<!-- sun and clouds -->
		<!--<a href='./web/pics/clouds.gif' ><img src='./web/pics/clouds.webp' loading=lazy width=360 height=227></a>-->
		<div style=display:inline-block>
			<a href='https://www.mnhradiste.cz/kamera/mhcam1.jpg' target="_blank" id="panorama_link"><img src='./web/pics/mhcam1.webp' id="panorama_img" loading=lazy width=340 height=200 style="display:inline-block"></a>
			<!--<a href="http://www.mhpocasi.unas.cz" target="_blank"> <img src="http://www.mhpocasi.unas.cz/webfiles/summary.jpg" width=377 height=243 border=0 title="Amatérská meteostanice Mnichovo Hradiště" alt="Mnichovo Hradiště"></a>-->
		</div>

		<div style="display:inline-block">	
			<div class="cs-CZ" id="english" style="display:block; margin:20px;">
				<form action="https://slovniky.lingea.cz/anglicko-cesky/" autocomplete="off" target="_blank" method="get" style="display:inline-block">
					<input id="topic" name="word" type="text" placeholder="🇬🇧" maxlength="50" autocomplete="off">
					<button type="submit" id="submit">OK</button>
				</form>
			</div>
			<div class="cs-CZ" id="deutsch" style="display: block; margin:20px;">
				<form action="https://slovniky.lingea.cz/nemecko-cesky/" autocomplete="off" target="_blank" method="get" style="display:inline-block">
					<input id="topic" name="word" type="text" placeholder="🇩🇪" maxlength="50" autocomplete="off">
					<button type="submit" id="submit">OK</button>
				</form>
			</div>
			<div style="display:block; margin:20px;">
				<form action="https://pkg.go.dev/search?" autocomplete="off" method="get" target="_blank" style="display:inline-block">
					<input id="topic" name="q" type="text" placeholder="Go" maxlength="50">
					<button type="submit" id="submit">OK</button>
				</form>
			</div>
		</div>

	<!--	
		<a href='./web/pics/forecastPrecip_0days.gif' ><img src='./web/pics/forecastPrecip_0days.webp' loading=lazy width=237 height=290></a>
		<a href='./web/pics/forecastTemp_0days.gif' ><img src='./web/pics/forecastTemp_0days.webp' loading=lazy width=237 height=290></a>
		<a href='./web/pics/forecastWind_0days.gif' ><img src='./web/pics/forecastWind_0days.webp' loading=lazy width=237 height=290></a>
		<a href='./web/pics/forecastPrecip_1days.gif' ><img src='./web/pics/forecastPrecip_1days.webp' loading=lazy width=237 height=290></a>
	-->
		<a href='https://kamery.mh2net.cz/img/snap-klub.jpeg' target="_blank" id="snap-klub"><img src='./web/pics/snap-klub.webp' id="snap_klub_img" loading=lazy width=340 height=200></a>

		<div style="display: inline-block;">
			<a href="./web/traffic.html">
				<p>40,29 km, směr Chrastava</p>
				<img src='https://api.dopravniinfo.cz/VmsImage.ashx?vms=133' loading=lazy class="vmsImg" alt="Tabule 40,29 km, směr Chrastava">
				<p>40,44 km, směr Praha</p>
				<img src='https://api.dopravniinfo.cz/VmsImage.ashx?vms=311' loading=lazy class="vmsImg" alt="Tabule 40,44 km, směr Praha">
			</a>
		</div>
		<div style="display:inline-block">
			<h2 style="text-decoration:none;">Letáky</h2>
			<a href="https://www.penny.cz/nabidky/letaky" target="_blank"><h3>Penny</h3></a>
			<a href="https://www.lidl.cz/c/akcni-letak/s10008644" target="_blank"><h3>Lidl</h3></a>
			<a href="https://prodejny.kaufland.cz/letak.html" target="_blank"><h3>Kaufland</h3></a>
			<a href="https://www.albert.cz/aktualni-letaky" target="_blank"><h3>Albert</h3></a>
			<a href="https://www.globus.cz/akcni-nabidka" target="_blank"><h3>Globus</h3></a>
			<a href="https://itesco.cz/akcni-nabidky/letaky-a-katalogy/" target="_blank"><h3>Tesco</h3></a>
			<a href="https://www.billa.cz/akcni-letaky" target="_blank"><h3>Billa</h3></a>
			<a href="https://www.coophb.cz/rubriky/letaky/" target="_blank"><h4 style="margin: 10px; text-align: center; text-decoration: underline">Coop</h4></a>

		</div>
		<div >
			<a href="https://www.lidl.pl/c/nasze-gazetki/s10008614" target="_blank"><h3 style="display: inline-block;">Lidl PL</h3></a>
			<a href="https://www.biedronka.pl/pl/gazetki" target="_blank"><h3 style="display: inline-block;">Biedronka PL</h3></a>
			<a href="https://filiale.kaufland.de/prospekte.html" target="_blank"><h3 style="display: inline-block;">Kaufland DE</h3></a>
		</div>
		<!--<a href='./web/pics/clouds_eu.gif' ><img src='./web/pics/clouds_eu.webp' loading=lazy width=600 height=390></a>-->

		<div>
			<!--<a href="./web/motogp.html"><h3 style="display: inline-block;">MotoGP kalendář</h3></a>
			<a href="./web/f1.html"><h3 style="display: inline-block;">F1 kalendář</h3></a> -->
			<a href="./feeds?lang=cs-CZ"><h3 style="display: inline-block;">📜 Články</h3></a>
			<a href="https://www.chmi.cz/files/portal/docs/meteo/rad/inca-cz/short.html" target="_blank"><h3 style="display: inline-block;">Radar</h3></a>
			<a href="https://www.flightradar24.com/50.53,14.98/12" target="_blank"><h3 style="display: inline-block;">Radarovič</h3></a>
		</div>

		<div class="articles" style="margin:5px;">
			<h4><a href="https://www.mnhradiste.cz/" target="_blank">📜Články města</a></h4>	
			<ul>
				
				{{range $i, $element := .Localnews}}
				<li><a href="{{$element.LinkSite}}" target="_blank">{{$element.Title}}</a></li>
				{{end}}
			</ul>
		</div>
		<div class="articles" style="margin:5px;">
			<h4><a href="https://www.mnhradiste.cz/radnice/komunikace-s-obcany/hlaseni-rozhlasu" target="_blank">📣Hlášení rozhlasu</a></h4>	

				{{range $i, $element := .Tannoy}}
				<details style="margin-left: 30px;"><summary>{{$element.Title}}</summary>
					<p>{{$element.Description}}</p>
				</details>
				{{end}}
		</div>

		<script>
			
//			var panSelect = document.getElementById("select_panorama")
//			var panValues = panSelect.value.split(";")
//			var panImg = document.getElementById("panorama_img")	
//			panImg.src = panValues[0]
//			var panLink = document.getElementById("panorama_link")
//			panLink.href = panValues[1]


//			panSelect.onchange = function() {
//				var panValues = panSelect.value.split(";")
//				var panImg = document.getElementById("panorama_img")	
//				panImg.src = panValues[0]
//				var panLink = document.getElementById("panorama_link")
//				panLink.href = panValues[1]
//
//			}
			var timezoneSelect = document.getElementById("select_timezone")
			var timezonePar = document.getElementById("zone-date")
			timezoneSelect.onchange = function() {
				var timezone = timezoneSelect[timezoneSelect.value].innerHTML
				var formatSelect = document.getElementById("select_lang")
				var day = new Date(Date.now()) 
				var timezone = timezoneSelect[timezoneSelect.value].innerHTML
				timezonePar.innerHTML = day.toLocaleString(formatSelect.value, {timeZone: timezone}) 
			}
			var formatSelect = document.getElementById("select_lang")
			var dateSpanList = document.getElementsByClassName("date")
			for (var i = 0; i < dateSpanList.length; i++) {
				time = dateSpanList[i].innerHTML
				var d = new Date(time)
				var date_output = new Intl.DateTimeFormat(formatSelect.value, {weekday: "long", day:"numeric", month:"long", hour: "numeric", minute: "numeric"}).format(d)
				dateSpanList[i].innerHTML = date_output
			}
			var day = new Date(Date.now()) 
			var timezone = timezoneSelect[timezoneSelect.value].innerHTML
			timezonePar.innerHTML = day.toLocaleString(formatSelect.value, {timeZone: timezone}) 

			var month = day.getMonth() + 1
			if ((month == 12 && day.getDate() > 22) || month == 1) {
				if (day.getDate() == 1) {
					document.getElementById("relevant").innerHTML = relevant.innerHTML+"🎇"
				}
				document.getElementById("relevant").innerHTML = relevant.innerHTML+"🎄"
			}
			day.setDate(day.getDate()+1)
			date_output = new Intl.DateTimeFormat(formatSelect.value, 
				{weekday: "long", day:"numeric", month:"long"}).format(day)
			document.getElementById("first_date").innerHTML = date_output

			day.setDate(day.getDate()+1)
			date_output = new Intl.DateTimeFormat(formatSelect.value, 
				{weekday: "long", day:"numeric", month:"long"}).format(day)
			document.getElementById("second_date").innerHTML = date_output


			document.getElementById("save_btn").onclick = function () {
				var date = new Date(Date.now())
				date.setFullYear(date.getFullYear()+1)
				var inputLocation = document.getElementById("location_input")	
				if (inputLocation.value != ""){
					place = encodeURIComponent(inputLocation.value)
					document.cookie = "place="+encodeURI(inputLocation.value)+"; expires="+date.toUTCString()+"; Path=/; SameSite=None"
//					var weatherImg = document.getElementById("weather-img")
//					var formatSelect = document.getElementById("select_lang")
					var bgColor = document.getElementById("background")
//					var prefix = formatSelect.value.split("-")[0]
//					weatherImg.src =  "https://wttr.in/"+place+"_0pq_transparency=255_background="+bgColor.value+"_lang="+prefix+".png"

//					var weatherInputDict= { "cs": "Počasí v...", "de": "Wetter für...", 
//								"en": "Weather in..." }
//					document.getElementById("wttr-link").href = "https://wttr.in/"+place+"?lang="+prefix
//					var weatherInput = document.getElementById("weather-input")
//					weatherInput.placeholder = weatherInputDict[prefix]

					document.cookie = "bgColor="+encodeURI(bgColor.value)+"; expires="+date.toUTCString()+"; Path=/; SameSite=None"

				}
				
			}
			document.getElementById("background").oninput = function() {
				document.getElementsByTagName("body")[0].style.backgroundColor = "#"+this.value
			}


			formatSelect.onchange = function() {
				var date = new Date(Date.now())
				date.setFullYear(date.getFullYear()+1)
				document.cookie = "lang="+this.value+"; expires="+date.toUTCString()+"; Path=/; SameSite=None"
				var day = new Date(Date.now()) 

				var timezone = timezoneSelect[timezoneSelect.value].innerHTML
				var day = new Date(Date.now()) 
				var timezone = timezoneSelect[timezoneSelect.value].innerHTML
				timezonePar.innerHTML = day.toLocaleString(this.value, {timeZone: timezone}) 

				day.setDate(day.getDate()+1)
				date_output = new Intl.DateTimeFormat(this.value, {weekday: "long", day:"numeric", month:"long"}).format(day)
				document.getElementById("first_date").innerHTML = date_output

				day.setDate(day.getDate()+1)
				date_output = new Intl.DateTimeFormat(this.value, {weekday: "long", day:"numeric", month:"long"}).format(day)
				document.getElementById("second_date").innerHTML = date_output


//				var weatherImg = document.getElementById("weather-img")
//				var prefix = this.value.split("-")[0]
//				var inputLocation = document.getElementById("location_input")	
//				var place = inputLocation.value
//				var bgColor = document.getElementById("background")
//				weatherImg.src =  "https://wttr.in/"+place+"_0pq_transparency=255_background="+bgColor.value+"_lang="+prefix+".png"

//				var weatherInputDict= { "cs": "Počasí v...", "de": "Wetter für...", "en": "Weather in..." }
//				document.getElementById("wttr-link").href = "https://wttr.in/"+place+"?lang="+prefix
//				var weatherInput = document.getElementById("weather-input")
//				weatherInput.placeholder = weatherInputDict[prefix]
			}

			function clockTicking() {
				
				var formatSelect = document.getElementById("select_lang")
				var day = new Date(Date.now()) 
				var timezone = timezoneSelect[timezoneSelect.value].innerHTML
				timezonePar.innerHTML = day.toLocaleString(formatSelect.value, {timeZone: timezone}) 
				setTimeout(clockTicking, 10000)
			}
			clockTicking()

		</script>

<!--			
			document.getElementById("weather-btn-default").onclick = function () {
				if (document.cookie.length != 0) {
					var cookieList = document.cookie.split("; ")
					var cookiePlace = cookieList.find(e => e.startsWith("place"))
					if (cookiePlace != undefined) {
						place = cookiePlace.split("=")[1]
						var weatherImg = document.getElementById("weather-img")
						var formatSelect = document.getElementById("select_lang")
						var bgColor = document.getElementById("background")
						var prefix = formatSelect.value.split("-")[0]
						weatherImg.src =  "https://wttr.in/"+place+"_0pq_transparency=255_background="+bgColor.value+"_lang="+prefix+".png"
						document.getElementById("wttr-link").href = "https://wttr.in/"+place+"?lang="+prefix
					}

				}
			}
			-->
	</main>
	{{template "footer"}}
</body>
</html>
